
/*  CANVAS PLAN WITH JQUERY DRAGGABLE ELT'S + VANILLA CSS (no grid)*/
/*
*,
*:before,
*:after {
  box-sizing: border-box;
}
.ui-widget-header p, .ui-widget-content p {
  margin: 0;
}
#board{
  outline: 2px solid black;
  height: 400px;
  width: 800px;
}

.SSE{
  position: relative;
  padding:5px;
  height:50%;
  width:25%;
  float:left;
  outline: 1px solid black;
}
#build-canvas{
  position: relative;
  height:50%;
  width:100%;
  float:left;
    outline: 1px solid black;
}
h2{
  background-color:lightgray;
}
*/

/*  CANVAS PLAN WITH CSS GRID */
.board {
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  background-color: #2196F3;
  padding: 10px;
  height:600px;
  grid-template-areas:
    'PDB_viewer SSE SSE'
    'builder-canvas builder-canvas builder-canvas';
}
.board > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}
#builder-canvas {
  grid-area: builder-canvas;
  /* grid-row-start: 1;
  grid-row-end: 3; */
  /* grid-column-start: 1;
  grid-column-end: 4; */
}
/* .SSE-area{
  grid-area: SSE-area;
} */
.PDB_viewer{
  grid-area: PDB_viewer;
}
#SSE1{
  grid-area:SSE1;
}
#SSE2{
  grid-area: SSE2;
}
.SSE.sortable{
  padding:0px;
  /* width: 30%; */
}
.handle{
  background-color:lightgray;
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 40px;
  cursor: move;
}
.SSE.placeholder {
    border: 5px dashed red;
    background-color: gray;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}
.btn {
    background-color: red;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    background-color: DarkRed;
}
p{
  margin:10px;
}

/*MINIMIZE AND MAXIMIZE CSS*/
/* #dialog_window_minimized_container {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.dialog_window_minimized {
    float: left;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 2px;
    display: none;
}

.dialog_window_minimized .ui-icon {
    display: inline-block !important;
    position: relative;
    top: 3px;
    cursor: pointer;
}

.ui-dialog .ui-dialog-titlebar-minimize {
    height: 18px;
    width: 19px;
    padding: 1px;
    position: absolute;
    right: 23px;
    top: 9px;
}

.ui-dialog .ui-dialog-titlebar-minimize .ui-icon {
    display: block;
    margin: 1px;
}

.ui-dialog .ui-dialog-titlebar-minimize:hover, .ui-dialog .ui-dialog-titlebar-minimize:focus {
    padding: 0;
  } */
