.body{
  /*make text unselectable*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.custom-colorize {
    font-size: 20px;
    position: relative;
    width: 100px;
    height: 100px;
  }
  .sequence{
  margin-top: 100px;
    height: 30px;

    vertical-align: middle;
    color: black;
    padding: 5px;
    font-size: 16px;
    border-color: black;
    border-style: solid;

    /*unselectable*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* #dragger {
    border: 1px solid #000;
    position: absolute;
    background-color: green;
    opacity: 0.5;
} */
.res{
  position:relative;
  top:40%;
  /* margin-top:-9px; */
  padding-left:5px;
  padding-right:5px;
  pointer-events: none;
  border: 1px solid black;
  font-family: Consolas, monaco, monospace;

  /*make text unselectable*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
/*new stuff*/
.sequenceDiv{
  height:75px;
  position:relative;
  border:2px solid black;
}
.locatorDiv{
  position:absolute;
  top:15px;
  /*left: VARIABLE
  width: VARIABLE*/
  height:60px;
  z-index: 5;
  -webkit-box-sizing: border-box;
}
/*cover hover effect*/
.locatorDiv:hover{
  /* background-color: gray;
  opacity: 0.8; */
  /* cursor:not-allowed; */
}
.locator_rect{
  position:absolute;
  top:0px;
  height:inherit;
  width:100%;
  opacity:0.35;
  background-color: gray;
  border: 1px solid blue;
  -webkit-box-sizing: border-box;
  display:none;
}
.highlightBox{
  position:absolute;
  display:none;
  top:0px;
  height:100%;
  width:0px;
  background-color: green;
  opacity:0.4;
  border-left: 2px solid red;
  border-right: 2px solid red;
  border-top:none;
  border-bottom:none;
}
#marker{
  position:absolute;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: lightgray;
  top:0px;
  width:0px;
  height:75px;
  display:none;
  float:left;
  /*display:block(while inside), none ouside div;
  left: VARIABLE*/
}
.disabled{
  pointer-events:none;
}
.resizer{
  z-index: 10;
  position: absolute;
  top:1px;
  height:11px;
  /* height:100%; */
  width:9px;
  background-color:blue;
}
.right{
  right:0px;
  cursor: e-resize;
  display:none;
}
.left{
  left:0px;
  cursor: w-resize;
  display:none;
}
