.body{
  /*make text unselectable*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.custom-colorize {
    font-size: 20px;
    position: relative;
    width: 100px;
    height: 100px;
  }
  .sequence{
  margin-top: 100px;
    height: 30px;

    vertical-align: middle;
    color: black;
    padding: 5px;
    font-size: 16px;
    border-color: black;
    border-style: solid;

    /*unselectable*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* #dragger {
    border: 1px solid #000;
    position: absolute;
    background-color: green;
    opacity: 0.5;
} */
* { user-select: none; }
/* .res{
  z-index:-1;
  width:15px;
  height:15px;
  display:inline-block;
  position:relative;
  top:40%;
  margin:0px 2px;
  padding-left:5px;
  padding-right:5px;
  pointer-events: none;
  border: 1px solid black;
  font-family: Consolas, monaco, monospace;
  text-align:center;
  line-height:15px;
  border:0px;
  background-color: lightblue;
  font-size: 8px;
} */
/*new stuff*/
.sequenceDiv{
  height:50px;
  position:relative;
  border:2px solid black;
}
#zoomDiv{
  height:50px;
  display: none;
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;

}
.sequenceSelInfoDiv{
  /* display: none; */
  height:75px;
  border: 2px solid black;
  text-align: center;
  font-size: 12px;
}
#locatorDiv{
  top:20%;
  left:10px;
  position:absolute;
  /*left: VARIABLE
  width: VARIABLE*/
  /* height:60px; */
  z-index: 5;
  -webkit-box-sizing: border-box;
  display: block;
}
#locatorBox{
  border: 2px solid blue;
  display: none;
  position:absolute;
}
/*cover hover effect*/
.locatorDiv:hover{
  /* background-color: gray;
  opacity: 0.8; */
  /* cursor:not-allowed; */
}
.locator_rect{
  position:absolute;
  top:0px;
  height:inherit;
  width:100%;
  opacity:0.35;
  background-color: gray;
  border: 1px solid blue;
  -webkit-box-sizing: border-box;
  display:none;
}
.highlightBox{
  position:absolute;
  display:none;
  top:0px;
  height:100%;
  width:0px;
  background-color: green;
  opacity:0.4;
  border-left: 2px solid red;
  border-right: 2px solid red;
  border-top:none;
  border-bottom:none;
}
#marker{
  position:absolute;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: lightgray;
  top:0px;
  width:0px;
  height:100%;
  display:none;
  float:left;
  /*display:block(while inside), none ouside div;
  left: VARIABLE*/
}

.resizer{
  z-index: 10;
  position: absolute;
  top:1px;
  height:11px;
  /* height:100%; */
  width:9px;
  background-color:blue;
}
.zoomed-middle{
  box-shadow:0px 2px 0px 0px red;
  box-shadow:0px -2px 0px 0px red;
}
.zoomed-lefthook{
  box-shadow: -2px 0px 0px 0px red;
}
.zoomed-righthook{
  box-shadow: 2px 0px 0px 0px red;
}
/*with dragselectJS*/
.ds-selected {
  /* outline: 2px solid black; */
  /* outline-offset: 1px; */
  color: white;
  /* font-weight: bold; */
  background-color: black;
}
.zoomds-selected {
  outline: 2px solid black;
  outline-offset: 1px;
  font-weight: bold;
  background-color: transparent;
  color:black;
}
#customSelector{
  position: absolute;
  background: rgba(0, 0, 255, 0.1);
  border: 1px solid rgba(0, 0, 255, 0.45);
  display: none;
  pointer-events: none;
  /* height: 30px; */
  left: 112px;
  top: 0px;
  width: 0px;
  height:100%;
}
.subarray{
  margin:10px;
  border:1px solid black;
}
/*placeholder element (instead of residue)*/
.res{
  display:inline-block;
   /* width:1px; */
   height:10px;
   text-align: center;
   font-size:12px;
}
.divider{
    position:absolute;
    /* left:50%; */
    top:30%;
    bottom:20%;
    border-left:1px solid black;
}
